
#.env.example
PORT=3000
SENDER_EMAIL=kemmiebabk@gmail.com
SENDER_APP_PASSWORD=ouhj xooh xidw tuzc
OPENROUTER_API_KEY=your_openrouter_api_key
BASE_URL=http://localhost:3000
SENDGRID_API_KEY=my_sendgrid_api_key
